In [3]:
import pandas as pd
import numpy as np
from scipy.stats import levene,shapiro,ttest_1samp,wilcoxon,mannwhitneyu

In [4]:
ds = pd.read_excel("SM4-Golf.xls")

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
Current    40 non-null int64
New        40 non-null int64
dtypes: int64(2)
memory usage: 720.0 bytes

In [6]:
ds.head(10)

   Current  New
0      264  277
1      261  269
2      267  263
3      272  266
4      258  262
5      283  251
6      258  262
7      266  289
8      259  286
9      270  264

In [7]:
ds.shape

(40, 2)

In [8]:
current = ds['Current']
new = ds['New']

In [9]:
print("Mean - Current",current.mean())
print("Mean - New",new.mean())
print("STD - Current",current.std())
print("STD - New",new.std())
print("Varience - Current",current.var())
print("Varience - New",new.var())

Mean - Current 270.275
Mean - New 267.5
STD - Current 8.752984838884597
STD - New 9.896904462947894
Varience - Current 76.61474358974361
Varience - New 97.94871794871794

#### H0 : Mu0 - Mu1 = 0
#### H1 : Mu0 - Mu1 != 0

In [10]:
from scipy.stats import ttest_ind
t_Statistic, P_Value = ttest_ind(current,new)

In [11]:
print("Test _S tatistic, P_Value are ",t_Statistic,P_Value)

Test _S tatistic, P_Value are  1.3283615935245678 0.18793228491854663

### as PValus is > 0.05, we accept null Hpothesis.

for Parametric data, we shall use mannwhitneyu

In [12]:
t_Statistic_man,P_Value_man = mannwhitneyu(current, new)
print("t_Statistic_man and P_Value_man are ", t_Statistic_man,P_Value_man)

t_Statistic_man and P_Value_man are  668.0 0.10265192122893124

### as the PValue is > 0.05, we accept H0.

To check the varience of the distribution, use Levene test

In [13]:
levene(current,new)

LeveneResult(statistic=0.2553238291765741, pvalue=0.6147759523331309)

#### again as the P_Value is greater than 0.05, We accept the HO for Levene test. i.e., Varience are equal

#### To analyse if the data is normally distributed or not, perform Shepiro test

In [14]:
shapiro(new)

(0.9678263664245605, 0.3064655363559723)

In [15]:
shapiro(current)

(0.9707046747207642, 0.378787100315094)

### In both cases , we fail to reject null hypothesis saying data is normal.

In [53]:
delta = (np.mean(current)-np.mean(new))/np.sqrt(((39*np.var(current))+(39*np.var(new)))/(40+40-2))
print(delta)

0.3008146650775173

In [54]:
from statsmodels.stats.power import ttest_power
print(ttest_power(0.30,nobs=40,alpha=0.05,alternative = "two-sided"))

0.456522110415285

In [55]:
#### 45% chance are there to reject the null hypothesis or H0 being false.